body.list-post-page {
  padding-top: 50px;
  padding-bottom: 20px;
}

.pub-date {
  color: #aaaaaa;
  font-style: italic;
}

.post-thumbnail {
  max-width: 150px;
  max-height: 150px;
}

body.show-post-page {
  padding-top: 70px;
}

img.post-image {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.post-body {
  text-align: justify;
}

.comment-header, .pub-date {
  color: #aaaaaa;
  font-style: italic;
}